body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: black;
	background-color: Azure;
}

#header {
	margin: 5px 5px 5px 5px;
	background-color: MediumOrchid;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	border-style: groove;
	border-color: lightpink;
	border-width: 5px;
}

#nav {
	margin: 5px 5px 5px 5px;
	background-color: Pink;
	font-size: 20px;
	list-style-type: none;
	text-align: center; 
	padding: 20px;
	border-style: groove;
	border-color: lightpink;
	border-width: 5px;
	text-decoration: none;
}

#section {
	margin: 5px 5px 5px 5px;
	height: 200px;
	float: left;
	width: 45%;
	padding: 20px;
	background-color: Salmon;
	font-size: 20px;
	text-align: center;
	border-style: groove;
	border-color: lightpink;
	border-width: 5px;
}

#article {
	margin: 5px 5px 5px 5px;
	height: 200px;
	clear: left;
	padding: 20px;
	background-color: HotPink;
	font-size: 20px;
	float: left;
	width: 45%;
	text-align: center;
	border-style: groove;
	border-color: lightpink;
	border-width: 5px;
}

#aside {
	margin: 5px 5px 5px 5px;
	clear: right;
	height: 460px;
	background-color: MediumVioletRed;
	padding: 20px;
	font-size: 20px;
	float: right;
	width: 45%;
	text-align: center;
	border-style: groove;
	border-color: lightpink;
	border-width: 5px;
}
	
#footer {
	margin: 5px 5px 5px 5px;
	clear: left;
	background-color: Aquamarine;
	text-align: center;
	padding: 20px;
	border-style: groove;
	border-color: lightpink;
	border-width: 5px;
}
