body {
color: black;
background-color: lightpink;
}

h1 {
  font-size:50px;
  border-style: dotted;
}

p {
	font-size:25px; color: DarkSlateGray;
	border-radius: 50px;
	background: Azure;
	padding: 20px;
	width: 350px;
	height: 50px;
}


.divtag {
border-style: dotted;
border-width: 2px;
width: 100px;
height: 100px;
}
