body {
	color: black;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

.container-fluid {
	width: 100%;
}

.header {
	padding: 40px;
	text-align: center;
}

h1 {
	text-align: center;
}

.col-sm-6 { 
	padding: 310px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
	
}

.col-sm-4 {
	padding: 310px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

.col-sm-8 {
	padding: 310px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

.footer {
	padding: 25px;
	text-align: center;
}

h5 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

span { 
	float: left;
	text-align: left;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
