body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: black;
	background-color: MistyRose;
}

ul {
	display: block;
	background-color: Gray;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

li {
	margin-left: 250px;
	display: inline-block;
}

#nav {
	float: left;
	width: 30%;
	background-color: LightGrey;
	height: 500px;
}

#section {
	float: right;
	width: 70%;
	height: 500px;
	background-color: PaleVioletRed;
	text-align: center;
}

#footer {
	clear: left;
	background-color: Gray;
	text-align: center;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: LightGray;
	font-size: 50px;
	letter-spacing: 3px;
	text-align: center;
}

h2 {
	font-size: 45px;
}

p {
	text-align: center;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	margin: 40px;
}

#main_nav a:link, a:visited {
	border-radius: 25px;
	font-size: 20px;
	background-color: DarkGray;
	color: black;
	padding: 30px 25px;
	text-align: center;
	width: 200px;
	height: 25px;
	margin: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

#main_nav a:hover, a:active {
	margin: 10px;
	background-color: red;
	text-align: center;
	width: 200px;
	height: 25px;
	margin: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

#nav a:link, a:visited {
	border-radius: 25px;
	font-size: 20px;
	background-color: DarkGray;
	color: black;
	padding: 30px 25px;
	text-align: center;
	width: 200px;
	height: 25px;
	margin: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}
